/* Reset and Typography */
* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.25rem;
}

body {
    background-color: hsl(275, 100%, 97%);
    font-family: 'Work Sans', sans-serif;
}

hr {
    border: none;
    border-top: 1px solid #cccccc44;
    margin: 20px 0;
}

/* Landing Image Styles */
.landing-img {
    display: block;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    /* Media query for desktop view */
    @media screen and (min-width: 768px) {
        height: 40vh;
        position: relative;
        z-index: 0;
    }

    @media screen and (max-width: 767px) {
        width: auto;
        height: 35vh;
    }
}

.landing-faq-title img {
    margin-right: 30px;
}

/* Landing FAQ Section Styles */
.landing-faq {
    max-width: 570px; 
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    filter: drop-shadow(0px 20px 10px #00000021);

    /* Media query for desktop view */
    @media screen and (min-width: 768px) {
        width: 80%; 
    }
}

/* Landing FAQ Title Styles */
.landing-faq-title {
    padding-bottom: 30px;
    color: hsl(292, 42%, 14%);
    display: flex;
    align-items: center;
}

/* Landing FAQ Heading Styles */
.landing-faq-h2 {
    color: hsl(292, 42%, 14%);
    padding-right: 10px;

    &:hover {
        color: hsl(292, 56%, 38%);
    }
}

/* Landing FAQ Question & Answer Styles */
.landing-faq-qa {
    display: flex;
    align-items: center;
}

/* Button Hover Effect */
.button-hover:hover {
    filter: hue-rotate(10deg);
}

/* Landing FAQ Button Styles */
.landing-faq-button {
    border: 0;
    background-color: #fff;
    margin-left: auto;
}

/* Landing FAQ Text Styles */
.landing-faq-text {
    padding: 0;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #0000008f;
}

/* Display Text Container Styles */
#displayTextContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.3s ease;

    &.show {
        max-height: 800px; /* Adjust the max-height value as needed */
        opacity: 1;
        padding-top: 20px;
    }
}

/* Attribution Styles */
.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}
